<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluir el archivo CSS del modo oscuro -->
    <!--<link th:href="@{/css/style.css}" rel="stylesheet">-->
    <!-- Iconos de Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script th:src="@{/js/main.js}"></script>
</head>
<body class="bg-light">
<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/tasks">Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks/new">New Task</a>
                </li>
            </ul>
            <!-- Botón de modo oscuro -->
            <button onclick="changeTheme()" class="btn rounded-fill"><i id="dl-icon" class="bi bi-moon-fill"></i></button>
        </div>
    </div>
</nav>

<!-- Footer -->
<footer th:fragment="footer" class="bg-primary text-white text-center py-3 mt-5">
    <p>&copy; 2025 Héctor Uriostegui. All rights reserved.</p>
</footer>

<!-- Bootstrap JS y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Incluir el archivo JavaScript del modo oscuro -->

</body>
</html>