<nav class="navbar navbar-expand-lg bg-primary text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Task Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Botón para alternar tema -->
        <li class="nav-item">
          <button id="dl-icon" class="btn btn-secondary bi bi-moon-fill"></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
